In [119]:
import numpy as np
import pandas as pd
import torch as t
import torch.nn as nn
data = pd.read_csv("../data/compas-scores-two-years.csv")
data.head()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0

In [120]:
pd.unique(data['race'])

array(['Other', 'African-American', 'Caucasian', 'Hispanic',
       'Native American', 'Asian'], dtype=object)

In [121]:
#filter for only African-American and Caucasian
data_2race = data.loc[(data['race']=='African-American') | (data['race']=='Caucasian')]
pd.unique(data_2race['race'])

array(['African-American', 'Caucasian'], dtype=object)

In [122]:
#select a few columns to be used in the following functions
selected_columns = ["two_year_recid","sex","age","race","v_decile_score","priors_count.1",]
data_filtered = data_2race[selected_columns]
data_filtered.head()

,two_year_recid,sex,age,race,v_decile_score,priors_count.1
1,1,Male,34,African-American,1,0
2,1,Male,24,African-American,3,4
3,0,Male,23,African-American,6,1
6,1,Male,41,Caucasian,2,14
8,0,Female,39,Caucasian,1,0

In [123]:
#check for missing values
data_filtered.isna().sum()

two_year_recid    0
sex               0
age               0
race              0
v_decile_score    0
priors_count.1    0
dtype: int64

In [124]:
pd.unique(data_filtered['sex'])

array(['Male', 'Female'], dtype=object)

In [125]:
#replace all categorical values to integer values
data_filtered["race"].replace(['African-American', 'Caucasian'],[0, 1], inplace=True)
data_filtered["sex"].replace(['Male', 'Female'],[0, 1], inplace=True)

C:\Users\zhang\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [126]:
data_filtered.head()

   two_year_recid  sex  age  race  v_decile_score  priors_count.1
1               1    0   34     0               1               0
2               1    0   24     0               3               4
3               0    0   23     0               6               1
6               1    0   41     1               2              14
8               0    1   39     1               1               0

In [127]:
#baseline model
#logistic regression
import numpy as np

# Define the original dataset
X = data_filtered[["age","sex","v_decile_score","priors_count.1"]]
y = data_filtered[['two_year_recid']]

# Define the sensitive attribute
s = data_filtered[["race"]]

# Define the logistic regression model
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()

# Train the model on the original dataset
clf.fit(X, y)

# Evaluate the model on the original dataset
print("Original dataset:")
print("Accuracy:", clf.score(X, y))

Original dataset:
Accuracy: 0.6721951219512196

C:\Users\zhang\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [128]:
#preprocess data, split the data into African-American Group and Caucassian Group
from sklearn.model_selection import train_test_split

data_filtered_afram = data_filtered[data_filtered['race']==0]
data_filtered_cau = data_filtered[data_filtered['race']==1]

X_afram = data_filtered_afram[["age","sex","v_decile_score","priors_count.1","race"]]
y_afram = data_filtered_afram[['two_year_recid']]

X_cau = data_filtered_cau[["age","sex","v_decile_score","priors_count.1","race"]]
y_cau = data_filtered_cau[['two_year_recid']]

In [129]:
X_train_afram, X_test_afram, y_train_afram, y_test_afram = train_test_split(X_afram, y_afram, test_size=0.2)
X_train_cau, X_test_cau, y_train_cau, y_test_cau = train_test_split(X_cau, y_cau, test_size=0.2)

In [130]:
def tensorX(X):
    return t.tensor(np.array(X)).to(t.float32)

def tensorY(X,Y):
    return t.from_numpy(np.array(Y).astype('float32')).reshape(X.shape[0], 1)

In [131]:
X_train_afram = tensorX(X_train_afram)
X_test_afram = tensorX(X_test_afram)
X_train_cau = tensorX(X_train_cau)
X_test_cau = tensorX(X_test_cau)

y_train_afram = tensorY(X_train_afram,y_train_afram)
y_test_afram = tensorY(X_test_afram,y_test_afram)
y_train_cau = tensorY(X_train_cau,y_train_cau)
y_test_cau = tensorY(X_test_cau,y_test_cau)

In [132]:
#update LogisticRegression function
class LogisticRegression(nn.Module):
    def __init__(self,data):
        super(LogisticRegression, self).__init__()
        self.w = nn.Linear(data.shape[1], out_features=1, bias=True)
        self.sigmod = nn.Sigmoid()
    def forward(self, x):
        w = self.w(x)
        output = self.sigmod(w)
        return output

In [133]:
#Define the Prejudice Remover Regularizer Loss Function
class PRLoss():
    def __init__(self, eta=1.0):
        super(PRLoss, self).__init__()
        self.eta = eta       
        
    def PI(self,output_afram,output_cau):
        N_afram = t.tensor(output_afram.shape[0])
        N_cau   = t.tensor(output_cau.shape[0])
        # calculate P[y|s]
        P_ys = t.stack((t.sum(output_afram),t.sum(output_cau)),axis=0) / t.stack((N_afram,N_cau),axis=0)
        # calculate P[y]
        P_y = t.sum(t.cat((output_afram,output_cau),0)) / (X_train_afram.shape[0]+X_train_cau.shape[0])
        # calculate PI
        PI_s1y1 = output_afram * (t.log(P_ys[1]) - t.log(P_y))
        PI_s1y0 =(1- output_afram) *(t.log(1-P_ys[1]) - t.log(1-P_y))
        PI_s0y1 = output_cau * (t.log(P_ys[0]) - t.log(P_y))
        PI_s0y0 = (1- output_cau)* (t.log(1-P_ys[0]) - t.log(1-P_y))
        PI = t.sum(PI_s1y1) + t.sum(PI_s1y0) + t.sum(PI_s0y1) + t.sum(PI_s0y0)
        PI = self.eta * PI
        return PI

In [136]:
#This function has a hyperparameter eta which is the size of the regulating term in the loss function.
#The fit method will give us the accuracy and caliberation of the fitted model
class LogisticRegressionWithPRR():
  
    def __init__(self, eta=0.0, epochs=100, lr = 0.01):
        super(LogisticRegressionWithPRR, self).__init__()
        self.eta = eta
        self.epochs = epochs
        self.lr = lr
        
    def fit(self,X_train_afram,y_train_afram,X_train_cau,y_train_cau,X_test_afram, y_test_afram, X_test_cau, y_test_cau): 
        #LogisticRegression model
        model_afram = LogisticRegression(X_train_afram)
        model_cau = LogisticRegression(X_train_cau)
        
        criterion = nn.BCELoss()
        PI = PRLoss(eta=self.eta)
        epochs = self.epochs
        
        #L2 regularization (non-zero weight_decay)
        optimizer = t.optim.Adam(list(model_afram.parameters())+ list(model_cau.parameters()), self.lr, weight_decay=1e-5)
        
        for epoch in range(epochs):
            #train
            model_afram.train()
            model_cau.train()
            
            #zero out the gradients
            optimizer.zero_grad()
            
            #compute loss
            output_afram = model_afram(X_train_afram)
            output_cau = model_cau(X_train_cau)
            log_loss = criterion(output_afram, y_train_afram)+ criterion(output_cau, y_train_cau)
            PI_loss = PI.PI(output_afram,output_cau)
            loss = PI_loss +log_loss
            
            loss.backward()
            optimizer.step()  
        #eval
        model_afram.eval()
        model_cau.eval()
        
        #calculate accuracy
        #Accuracy is the average of correctly predicted labels of two groups
        #Caliberation is the difference of accuracy bewtween the two groups
        y_pred_afram = (model_afram(X_test_afram) >= 0.5)
        y_pred_cau = (model_cau(X_test_cau) >= 0.5)

        #sum of correct prediction/total num
        accuracy_afram  = t.sum(y_pred_afram == y_test_afram) / y_test_afram.shape[0]
        accuracy_cau  = t.sum(y_pred_cau == y_test_cau) / y_test_cau.shape[0]

        accuracy = (accuracy_afram + accuracy_cau) / 2
        calibration = t.abs(accuracy_afram - accuracy_cau)
        
        return accuracy.item(), calibration.item()

In [137]:
#Implement the function at eta=0.7
PR = LogisticRegressionWithPRR(eta = 0.7, epochs = 100, lr = 1e-04)
PR.fit(X_train_afram,y_train_afram,X_train_cau,y_train_cau, X_test_afram, y_test_afram, X_test_cau, y_test_cau)

(0.44016212224960327, 0.05751362442970276)

In [138]:
#Tuning the hyperparameter to find the best model
eta=np.linspace(0, 100, num=1000)
hist_acc=np.zeros(1000)
hist_cal=np.zeros(1000)
for i in range(1000):
    PR = LogisticRegressionWithPRR(eta = eta[i], epochs = 100, lr = 1e-04)
    hist_acc[i]=PR.fit(X_train_afram,y_train_afram,X_train_cau,y_train_cau, X_test_afram, y_test_afram, X_test_cau, y_test_cau)[0]
    hist_cal[i]=PR.fit(X_train_afram,y_train_afram,X_train_cau,y_train_cau, X_test_afram, y_test_afram, X_test_cau, y_test_cau)[1]

In [139]:
np.argmax(hist_acc)
best_eta=eta[np.argmax(hist_acc)]
#the best parameter for the model
best_eta

40.34034034034034

In [140]:
PR = LogisticRegressionWithPRR(eta = best_eta, epochs = 100, lr = 1e-04)
PR.fit(X_train_afram,y_train_afram,X_train_cau,y_train_cau, X_test_afram, y_test_afram, X_test_cau, y_test_cau)

(0.5440317392349243, 0.1502256989479065)